<form class="form-signin" #signInForm="ngForm" (ngSubmit)="signIn(signInForm.form.value)">
    <!-- <img class="mb-4" src="../../assets/logo-solid.png" alt="" width="72" height="72"> -->
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="eEmail" class="form-control" placeholder="Email address" required ngModel name="email" #email="ngModel" email>
          <small id="emailHelp" *ngIf="email.touched && email.invalid" class="form-text text-danger">
            <span *ngIf="email.errors.required">Email is Required</span>
            <span *ngIf="email.errors.email">Invalid Email</span>
          </small>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password" ngModel #password="ngModel">
    
    <div class="checkbox mb-3">
      <!-- <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label> -->
      <a routerLink="/register" class="float-right"></a>
    </div>
    <button class="btn btn-lg btn-primary btn-block">Sign In</button>
    <div class="dropdown-divider"></div>
    <a class="btn btn-lg btn-primary btn-block text-light" routerLink="/signup">New User? Register Here</a>
    <!-- <p class="mt-5 mb-3 text-muted">© 2017-2018</p> -->
  </form> 