.new-todo {
  padding: 20px;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 30px;
  margin-top: 50px;
}
.todo-title {
  font-size: 20px;
  font-weight: 300;
}

.priority-box {
  width: 32px;
  height: 32px;
  background-color: #ccc;
  border-radius: 5px;
  margin-right: 20px;
  line-height: normal;
  color: white;
  font-size: 16px;
  font-weight: 300;
}
.priority-box > span {
}
.priority-box.high {
  background-color: rgb(221, 75, 75);
}
.priority-box.medium {
  background-color: rgb(255, 166, 82);
}
.priority-box.low {
  background-color: rgb(175, 235, 107);
}
.bg-grey {
  background-color: #f1f1f1;
}
.media {
  padding: 0 10px;
}
.strikethrough {
  text-decoration: line-through;
}
.edit-btn {
  width: 36px;
  height: 36px;
  border-radius: 5px;
}
.side-nav {
  width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgb(177, 177, 177);
  position: fixed;
  top: 0px;
  right: -400px;
  transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -ms-transition: all ease-out 0.3s;
}
.side-nav.show {
  right: 0;
}
.side-nav-header {
  background-color: #ccc;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
}
.side-nav-body {
  padding: 10px 20px;
}
.close-side-nav {
  position: absolute;
  top: 0;
  right: 0;
}
.form-control {
  margin-bottom: 20px;
}
mat-select {
  padding: 6px 12px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 20px;
}
mat-select#todoPriority:active,
mat-select#todoPriority:focus {
  border: 1px solid #ced4da;
}
.createAndDue {
  color: rgb(255, 158, 30) !important;
  font-weight: 400;
  font-size: 10px;
  font-style: italic;
}
.calendar-icon {
  background-color: #3f51b5;
  border-radius: 0 3px 3px 0;
  height: 38px;
  color: #fff;
}
.dueDateInput {
  display: block;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 6px 12px;
}
.calendar-btn {
  position: absolute;
  top: 7px;
  right: 20px;
}
