<input type="text" #todoInput (keyup.enter)="saveTodo(todoInput)" id="todo" class="form-control new-todo" placeholder="Create a new Todo"
  required ngModel name="todo" #todo="ngModel">
<small *ngIf="todoInput.touched && todoInput.dirty" class="text-danger">Title is required</small>
<!-- <div class="input-group">
      <input id="createdAt" class="form-control" placeholder="yyyy-mm-dd" type="text" name="todoCreatedAt" [ngModel]="thisTodo.createdAt" (ngModelChange)="thisTodo.createdAt = $event" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button mat-icon-button (click)="d.toggle()" class="calendar-icon">
          <mat-icon>date_range</mat-icon>
        </button>
      </div>
    </div> -->
<!-- <button (click)="_toggleSidebar()">Toggle</button> -->
<div class="my-3 p-3 bg-white rounded box-shadow" style="position: relative;">
  <h6 class="border-bottom border-gray pb-3 mb-0">My Todos</h6>
  <button mat-raised-button class="calendar-btn" color="accent">Calendar View</button>
  <ng-container *ngFor="let todo of todoList | orderBy: todo.title:reverse:'case-insensitive'">
    <div @fade class="media text-muted pt-3 border-bottom" [class.bg-grey]="todo.status =='Completed'">
      <ng-template #undoStatusColor>
        <button mat-icon-button class="priority-box"></button>
      </ng-template>
      <!-- <button ></button> -->
      <ng-container *ngIf="todo.status=='Incomplete'; else undoStatusColor">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="priority-box" [class.high]="todo.priority == 'High' && todo.status=='Incomplete'"
          [class.medium]="todo.priority == 'Medium' && todo.status=='Incomplete'" [class.low]="todo.priority == 'Low' && todo.status=='Incomplete'">
          <span *ngIf="todo.priority == 'High'">H</span>
          <span *ngIf="todo.priority == 'Medium'">M</span>
          <span *ngIf="todo.priority == 'Low'">L</span>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="changePriority($event.target, todo.$key)" name="High">High</button>
          <button mat-menu-item (click)="changePriority($event.target, todo.$key)">Medium</button>
          <button mat-menu-item (click)="changePriority($event.target, todo.$key)">Low</button>
        </mat-menu>
      </ng-container>
      <p class="media-body pb-3 mb-0 small lh-125  border-gray" [class.strikethrough]="todo.status =='Completed'">
        <span class="d-block text-gray-dark todo-title">{{ todo.title }} </span>
        <a class="createAndDue">Created At: {{todo.createdAt | date : 'MM/dd/yyyy, h:mm a'}}</a>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
        <a class="createAndDue">Due Date: {{todo.dueAt | date : 'MM/dd/yyyy, h:mm a'}}</a>
      </p>
      <button mat-icon-button color="basic" *ngIf="todo.status=='Incomplete'" (click)="getTodoDetials(todo.$key)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="basic" *ngIf="todo.status=='Incomplete'" (click)="removeTodo(todo.$key)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-button mat-raised-button class="done-icon" *ngIf="todo.status=='Incomplete'" color="primary" (click)="doneTodo(todo.$key)">Done</button>
      <button mat-button class="done-icon" *ngIf="todo.status=='Completed'" color="basic" (click)="undoTodo(todo.$key)">Undo</button>

    </div>
  </ng-container>


</div>
<div class="side-nav" [class.show]="_showSide" *ngIf="thisTodo">
  <div class="side-nav-header"> Edit Todo
    <button mat-icon-button color="basic" class="float-right close-side-nav" (click)="closeSideNav()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="side-nav-body">
    <form #editTodoForm="ngForm" (ngSubmit)="updateTodo(editTodoForm.form.value)">
      <input type="hidden" #hiddenKey name="hiddenKey" [(ngModel)]="thisKey">
      <label for="todoTitle">Title</label>
      <input type="text" [(ngModel)]="thisTodo.title" id="todoTitle" name="todoTitle" class="form-control" #todoTitle="ngModel"
        required [value]="thisTodo.title">

      <label for="todoTitle">Priority</label>

      <mat-select placeholder="Priority" [(ngModel)]="thisTodo.priority" id="todoPriority" name="todoPriority" #todoPriority="ngModel"
        required>
        <mat-option value="High">
          High
        </mat-option>
        <mat-option value="Medium">
          Medium
        </mat-option>
        <mat-option value="Low">
          Low
        </mat-option>
      </mat-select>

      <label for="createdAt">Created At</label>
      <input id="createdAt" #todoCreatedAt="ngModel" class="form-control" placeholder="yyyy-mm-dd" type="text" name="todoCreatedAt"
        disabled [ngModel]="thisTodo.createdAt | date:'MM/dd/yyyy, h:mm a'" (ngModelChange)="thisTodo.createdAt = $event">

      <label for="todoDueDate">
        Due Date:
      </label>
      <input id="todoDueDate" readonly name="todoDueDate" #todoDueDate="ngModel" class="dueDateInput" [owlDateTimeTrigger]="dt"
        [owlDateTime]="dt" [(ngModel)]="thisFullDueDate">
      <owl-date-time #dt></owl-date-time>
      <button mat-button mat-raised-button color="primary">Save</button>
    </form>
  </div>
  <!-- <div>Title: {{thisTodo.title}}</div> -->
</div>